DIV {
border: 1px solid #ffffff;
}

#Header {
height: 100px;
width: 800px;
margin-right: auto;
margin-left: auto;
background: url(images/banner.png) no-reapeart;
color :red;
}

#MainContent {
width: 800px;
margin-right: auto; 
<<<<<<< HEAD
margin-left: auto;
=======
margin-left: auto;
}
>>>>>>> 696b510a18fb015b42000ccc0157d1759285a9ea
